html{
    background-color: black;
}
body {
    width: 1000px;
    margin: 0 auto;
    background-color: #ecdd87;
    padding: 0 20px 20px 20px;
  }
h1{
    color:#eea4ba ;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 72px;
    margin: 0;
    padding: 0 20px;
}
img{
    margin: 5px auto;
   width: 1000px; 
}
    
.navi{ 
    color: #6aca67;
}
a:hover{
    color: #bae9ff;
}
a:active{
    color: lawngreen;
}
li{
    text-align: center;
}